*{
    margin:0;
    padding:0;
}

.row > *{
    padding: 0;
}

.main{
    display:flex;
    margin:auto;
    text-align: center;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
    margin-top:50px;
}

h1{
    text-align: center;
}

.row{
    margin:0px;
}

.commander{
    text-align: center;
}

img{
    margin-bottom: 10px;
    height:400px;

}
#canvas{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    background: transparent;
}


.prix_av_remise{
    color:red;
    text-decoration: line-through;
    margin-right:10px;
}

.prix_av_remise_entire{

}

.pourcent_remise{
    color:red;
}

.texte{
    text-align: center;
    margin-left:20px;
    font-size: 20px;
}

.commander{
    text-align: center;
}

table{
    margin:50px;
}

td{
    width:300px;
    height:50px;
    border-top:1px solid black;
    font-size: 20px;
    padding: 10px;
}

.ancienPrix{
    color:red;
    margin-bottom: 10px;
    text-decoration: line-through;
    font-size: 13px;
}

input, select{
    font-size: 20px;
    padding:5px;
    margin-bottom: 3px;
    background-color: rgba(220, 115, 115, 0.58);
}
