*{
    margin:0;
    padding:0;
}

.row > *{
    padding: 0;
}

.main{
    display:flex;
    margin:auto;
    /*text-align: center;*/
    /*flex-direction: row;*/
    padding: 10px;
    /*justify-content: center;*/
    /*margin-top:50px;*/
    width:1080px;
}

.row{
    margin:auto !important ;
    text-align:left;


}

h1{
    text-align: center;
}

.row{
    margin:0px;
}

.commander{
    text-align: center;
}

img{
    margin-bottom: 10px;
    height:250px;
}
#canvas{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    background: transparent;
}


.prix_av_remise{
    color:red;
    text-decoration: line-through;
    margin-right:10px;
}

.prix_av_remise_entire{

}

.pourcent_remise{
    color:red;
}

.texte{
    text-align: center;
    margin:auto;
    font-size: 20px;
}

.commander{
    text-align: center;
}

table{
    margin:50px;
}

td{
    width:300px;
    height:50px;
    border-top:1px solid black;
    font-size: 20px;
    padding: 10px;
}

.ancienPrix{
    color:red;
    margin-bottom: 10px;
    text-decoration: line-through;
    font-size: 13px;
}

input, select{
    font-size: 20px;
    padding:5px;
    margin-bottom: 3px;
    background-color: rgba(220, 115, 115, 0.58);
}

.logo{
    max-height: 150px;
    margin-right:100px;
    margin-bottom:0px;
}

.container{
    justify-content: space-between;
}

a.nav-link{
    color:white;
}

a.nav-link:hover{
    color:orange;
}

ul.navbar-nav{
justify-content: space-between;
}

button.btn{
    border-color:orange;
    color:orange;
}

button.btn:hover{
    border-color:orange;
    background-color:orange;
}

.table-bordered{
    margin-left:0px;
    margin-top:20px;
}

.sort{
    display: flex;
    justify-content: center;
}
